@model Employee
@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}

<h1>Personel Güncelleme Sayfası</h1>
<form method="post">
    
    <input type="hidden" asp-for="EmployeeID" />
    <label>Personel Adı</label>
    <input type="text" asp-for="EmployeeName" class="form" />
    <br />

    <label>Personel Soyadı</label>
    <input type="text" asp-for="EmployeeSurname" class="form" />
    <br />

    <label>Personel Mail</label>
    <input type="text" asp-for="EmployeeMail" class="form" />
    <br />

    <label>Personel Görsel</label>
    <input type="text" asp-for="EmployeeImage" class="form" />
    <br />

    <label>Personel Departman</label>
    <input type="text" asp-for="CategoryID" class="form" />
    <br />
    <button class="btn btn-warning">Personeli Güncelle</button>
    
</form>

